<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="display">
        <h1>Sumbitted Forms</h1>
        <p>Name: <%= results.name %></p>
        <p>Location: <%= results.location %></p>
        <p>Language: <%= results.language %></p>
        <p>Comment: <%= results.comment %></p>
    </div>
</body>
</html>