<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/cats">Back to cats</a>
    <h1>Details for <%= name %></h1>
    <img src= "/<%= name %>.jpeg" alt="#">
    <h3>Favorite Food: <%= favorite_food%></h3>
    <h3>Places to sleep:</h3>
    <% for (let sleep of sleeping){ %>
        <p><%= sleep %></p>
    <% } %>
</body>
</html>